두번째 과제입니다.

csv <
두번째 과재 입니다
csv <-> dictionary변환

key1, key2, key3, key,4
value1-1, value1-2, value1-3, value1-4
value2-1, value2-2, value2-3, value2-4
value3-1, value3-2, value3-3, value3-4


위와 같은 형태의 csv텍스트를

[{ ‘key1’: ‘value1-1’, ‘key2’: ‘value1-2’, ‘key3’: ‘value1-3’, ‘key4’: ‘value1-4’},
{ ‘key1’: ‘value2-1’, ‘key2’: ‘value2-2’, ‘key3’: ‘value2-3’, ‘key4’: ‘value2-4’},
{ ‘key1’: ‘value3-1’, ‘key2’: ‘value3-2’, ‘key3’: ‘value3-3’, ‘key4’: ‘value3-4’}]

형태의 dictionary(혹은 dictionary의 리스트)로 변환시키는 코드를 완성시키세요.
또 반대로 dictionary(혹은 그들의 리스트)를 받아서 csv텍스트 형태로 변환시키는 코드를 완성시키세요

key의 길이와 values들은 예시보다 더 많거나 작은 경우에도 작동해야합니다.

In [29]:
csv = """
name, phone, email, age
sol, 01012341234, solsol123@gmail.com, 29
gildong, 01034535456, honggildong@naver.com, 30
suzy, 010123455655, suzy@gmail.com, 25
"""

# strip, lstrip, rstrip 끝에 있는 문자를(지정한) 제거해준다
# split(c) 지정한 문자 c로 잘라서 리스트로 바꿔준다

In [30]:
csv = csv.strip("\n")

In [32]:
csv_list = csv.split("\n")

In [85]:
a = 1
b = 3

a, b = b, a
print(a, b)

3 1

In [96]:
keys, items = csv_list[0:1], csv_list[1:]
csv_list

['name, phone, email, age',
 'sol, 01012341234, solsol123@gmail.com, 29',
 'gildong, 01034535456, honggildong@naver.com, 30',
 'suzy, 010123455655, suzy@gmail.com, 25']

In [97]:
keys

['name, phone, email, age']

In [94]:
items

['sol, 01012341234, solsol123@gmail.com, 29',
 'gildong, 01034535456, honggildong@naver.com, 30',
 'suzy, 010123455655, suzy@gmail.com, 25']

In [43]:
keys = keys[0].split(",")

In [44]:
keys

['name', ' phone', ' email', ' age']

In [51]:
temp_items = []
for item in items:
    temp_items.append(item.replace(" ", '').split(","))
items = temp_items

In [55]:
items

[['sol', '01012341234', 'solsol123@gmail.com', '29'],
 ['gildong', '01034535456', 'honggildong@naver.com', '30'],
 ['suzy', '010123455655', 'suzy@gmail.com', '25']]

In [65]:
result = []
for item in items:
    info = dict()
    for i in range(len(item)):
        info[keys[i]] = item[i]
    result.append(info)

In [66]:
result

[{' age': '29',
  ' email': 'solsol123@gmail.com',
  ' phone': '01012341234',
  'name': 'sol'},
 {' age': '30',
  ' email': 'honggildong@naver.com',
  ' phone': '01034535456',
  'name': 'gildong'},
 {' age': '25',
  ' email': 'suzy@gmail.com',
  ' phone': '010123455655',
  'name': 'suzy'}]

In [79]:
print(result[0])
for i in result[0]:
    print(i)

{'name': 'sol', ' email': 'solsol123@gmail.com', ' age': '29', ' phone': '01012341234'}
name
 email
 age
 phone